

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: initial;
  box-sizing: border-box;
  transition: all .3s ease;
  text-decoration: none;
}

html,
body{
  display: flex;
  width:100%;
  height: 100vh;
  background: #8BC6E9;
}

html {
  font-size: 90%;
}

section {
  padding: 0 8rem;
  width: 100%;
}

.label {
  font-size: 1.1rem;
  color: #666;
  text-transform: uppercase;
  font-weight: 500;
}

.heading {
  font-size: 3rem;
  margin-top: 1rem;
}

section.home {
  padding: 1rem;
  width: 100%;
  height: 100vh;
}

.home .home-box nav {
  width: 100%;
  height: 45px;
  background: linear-gradient(rgb(255, 255, 255, .2), rgb(255, 255, 255, .2));
  backdrop-filter: blur(7px);
  border-radius: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  z-index: 10;
  position: relative;
}

.home .home-box nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home .home-box nav .logo .bar {
  font-size: 1.35rem;
  color: #274472;
  cursor: pointer;
  display: none;
}

.home .home-box nav .logo .bar:hover {
  color: rgb(255 255 255/70%);
}

.home .home-box nav .logo h3 {
  color: #274472;
  font-weight: 400;
}

.home .home-box nav .menu .close {
  display: none;
}

.home .home-box nav .menu ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.home .home-box nav .menu ul li a {
  color: #274472;
  font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
  color: rgb(255 255 255/70%);
}

.container {
  position:relative;
  width: 1100px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  padding: 30px;
}

.container .card{ 
  position:relative; 
  max-width: 300px;
  height: 220px; 
  background-color:#fff;
  margin:30px 10px;
  padding:20px 15px
  display:flex;
flex-direction:column;

box-shadow: 0 5px 20px rgba（0, 0, 0, 0.5);
transition: 0.35 ease-in-out;
}

